[user]
	name  = {{ .name }}
	email = {{ .email }}

[gpg]
	format = ssh

[gpg "ssh"]
	program = {{ if eq .chezmoi.os "darwin" }}/Applications/1Password.app/Contents/MacOS/op-ssh-sign{{ else if eq .chezmoi.os "linux" }}/usr/bin/op-ssh-sign{{ end }}

[commit]
	gpgsign = true

[core]
	editor       = nvim
	autocrlf     = input
	excludesFile = ~/.gitignore_global

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	rebase = false

[includeIf "hasconfig:remote.*.url:https://github.com/**"]
	path = ~/.gitconfig-github

[includeIf "hasconfig:remote.*.url:https://dev.azure.com/**"]
	path = ~/.gitconfig-azure

[alias]
	lg = log --oneline --graph --decorate --all
	st = status -sb
